.product-page-enquiry {
    width: 76%;
    margin: 2%;
    margin-left: 14%;
    border: 1px solid rgb(230, 222, 222);


}

.inputClass {
    border: 1px solid #d0d7de;
    color: #2d3748;
    font-size: 0.875rem;
    border-radius: 0.375rem;
    padding: 0.625rem 10rem 0.62rem 1rem;
}

.selectClass {
    border: 1px solid #d0d7de;
    color: #2d3748;
    font-size: 0.875rem;
    border-radius: 0.375rem;
}

.label-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.pp-enquiry {
    margin: 20px;
}