.carousel {
    margin-top: -12px;
}

.corousel-img {
    width: 100%;
}

.corousel-txt {
    position: absolute;
    margin-top: -10%;
    margin-left: 40%;
    background-color: rgba(121, 113, 113, 0.442);
    /* justify-content: center;
    align-items: center; */
    padding: 12px;
    color: white;
    font-size: x-large;
}

@media (max-width: 480px) {
    .carousel {
        margin-top: 0px;
        height: 200px;
    }

    .corousel-img {
        height: 220px;
    }

    .corousel-txt {
        position: absolute;
        margin-top: -11%;
        margin-left: 30%;
        padding: 6px;
        font-size: small;
    }
}