.carousel {
    margin-top: -15px;

}

.corousel-img {
    width: 100%;
}

.corousel-txt {
    position: absolute;
    margin-top: -20%;
    margin-left: 30%;
    background-color: rgba(121, 113, 113, 0.442);
    padding: 12px;
    color: white;
    font-size: x-large;
}

@media (max-width: 480px) {
    .carousel {
        margin-top: 0px;
        height: 200px;
    }

    .corousel-img {
        height: 200px;
    }

    .corousel-txt {
        position: absolute;
        margin-top: -11%;
        margin-left: 15%;
        padding: 6px;
        font-size: large;

    }
}