.heeder {
    background-color: #330000;
    color: white;
    height: 37px;
    gap: 17rem;
    font-size: x-small;
}

@media (max-width:950px) {
    .heeder {
        display: none;
    }
}

.heed-r-side {
    font-size: small;
}

.modal-title {
    color: black;
}

.heed-r-side .emeil-btn button {
    font-weight: 700;
    border-radius: 25px;
    /* margin: 20px 0px 20px 0px; */
    padding: 3px;
    height: 25px;
    padding-left: 15px;
    padding-right: 15px;
    color: black;
    background-color: whitesmoke;
}

.heed-r-side .smss-btn button {
    height: 25px;
    background-color: #cc0000;
}