.jobs {
    width: 90%;
    margin: 20px;
    margin-top: -1%;
    display: flex;
    justify-content: space-around;
    align-items: start;
}

.lhs {
    /* padding-left: 10%; */
    width: 70%;
    /* min-height: 100%; */
}

.rhs {
    /* font-size: x-small; */
    width: 20%;

}

@media (max-width:750px) {
    .jobs {
        flex-direction: column;
    }

    .lhs {
        width: 80%;

    }

    .rhs {
        width: 50%;
        margin-left: 10%;
    }

}