.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.head-r-side {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    /* margin-left: 35px; */
}

.gstno,
.sms-btn,
.email-btn {
    margin: 10px;

}

.gstno {
    font-weight: 600;
    font-size: x-small;
}

.head-r-side button {
    font-weight: 700;
    border-radius: 25px;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    background-color: black;
}

.head-r-side .sms-btn button {
    background-color: rgb(208, 13, 13);
    border: 0.5px solid red;
}


.nav {
    width: 100%;
    background-color: rgb(208, 13, 13);
    color: #fff;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: small;
}


.nav-table {
    margin: 15px 15%;
}

.nav-table a {
    color: white;
}

.nav-table a:hover {
    color: black;
}


/* <---------------------------------> */
/* -----------------------------Welcome Part------------------------------- */

.mb20px,
a.mb20px {
    margin-bottom: 20px;
}

.ac {
    text-align: center;
}

.mt20px,
a.mt20px {
    margin-top: 20px;
}

.indsu_icon.mc,
.myTabs.mc,
.bdr0.mc {
    border: none;
}

.lsn li,
ul.lsn li,
.slider li {
    list-style: none;
    margin: 0;
}

.ic {
    padding: 10px;
}

.mt5px,
a.mt5px {
    margin-top: 5px;
}

#middle .slider {
    color: #333;
}

#middle .slider {
    text-align: center;
}

.slider {
    color: #555;
}

.lh15em {
    line-height: 1.5em;
}


.dib {
    display: inline-block;
}

ol,
ul,
li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul {
    margin: 5px 0 5px 30px;
    padding: 0;
}

#middle .slider ul li {
    display: inline-block;
    float: none !important;
    vertical-align: top;
}

.comp-info .slider ul li {
    margin-top: 20px;
    margin-bottom: 20px !important;
    display: inline-block;
    float: none;
}

@media (max-width: 1024px) {
    .horizontal237693 .no-scroll237693 li {
        width: 33%;
        box-sizing: border-box;
    }
}

.horizontal237693 .no-scroll237693 li {
    float: left;
    margin-bottom: 15px;
}

.horizontal237693 .no-scroll237693 li,
.horizontal237693 .no-scroll237693.floatLiFommat li {
    width: 362px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

.lsn li,
ul.lsn li,
.slider li {
    list-style: none;
    margin: 0;
}

.fact-icon {
    display: table;
}

.w100 {
    width: 100%;
}

.fact-icon .dtc {
    display: table-cell;
}

.w60px {
    width: 60px;
}

.iconBox {
    width: 85px;
    height: 85px;
    display: inline-block;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px;
}

.ei-fact.nature-of-business {
    background-position: -100px 0px;
}

.ei-fact {
    width: 50px;
    height: 50px;
    display: inline-block;
    background: url(//catalog.wlimg.com/templates-images/12569/12573/fact-stripe.png) no-repeat;
}

.fact-icon .dtc {
    display: table-cell;
}

.pl15px {
    padding-left: 15px;
}

.vam {
    vertical-align: middle;
}

.lh13em {
    line-height: 1.3em;
}


.al {
    text-align: left;
}

.xlarge {
    font-size: 1.2em;
}

.lh14em {
    line-height: 1.4em;
}

.b {
    font-weight: bold;
}

.al {
    text-align: left;
}

.ei-fact.year-of-establishment {
    background-position: -50px 0px;
}

.ei-fact.market-covered {
    background-position: -250px 0px;
}


.vat {
    vertical-align: top;
}

b,
strong {
    font-weight: bold !important;
}

.dif a {
    color: #cc0000;
}

.large {
    font-size: 1.1em;
}

.lh17em {
    line-height: 1.7em;
}

.aj {
    text-align: justify;
}

.welcome-txt {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.welcome-part {
    margin: 80px;
    font-size: small;
    padding: 10px;
}

/* ---------------------------Welcome PartEnds------------------------------- */
/* ---------------------------Contact Deatils------------------------------- */
.contact-bg {
    /* width: 100%; */
    background: #000 url(//catalog.wlimg.com/templates-images/12569/12573/contact-bg.jpg) no-repeat scroll center top;
    background-size: cover;
    color: #fff;
    margin-top: -35px;

}

.formTable tr td {
    font-size: small;
}

@media (max-width: 900px) {
    .formTable tr td {
        font-size: x-small;
    }

    /* .wrap {
        width: 900px;
        margin: 0 auto;
        padding: 0 15px;
    } */
}

@media (max-width: 500px) {

    .contact-bg .formTable tr {
        /* width: 25%; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: small;
        margin-left: -5%;
    }

    /* table.formTable {
        margin-left: 5%;
    } */

    .formTable td a {
        color: white;
        margin-left: -50%;
    }

}


.pr {
    position: relative;
}


.formTable.bdr0,
.formTable.bdr0>tbody>tr>td {
    border: none !important;
}

.contact-bg td {
    padding: 30px 10px;
    width: 25%;
    vertical-align: top;
}

.contact-icon {
    margin-top: 5px;
    background: #c00;
    color: #fff;
}

.contact-icon {
    width: 55px;
    height: 55px;
    position: relative;
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    font-size: 18px;
}

.mb7px,
a.mb7px {
    margin-bottom: 7px;
}

.icon-inner .fa {
    margin-top: 18px;
}

.formTable td a {
    color: white;
}



/* ---------------------------Contact Deatils------------------------------- */












/* ---------------------------About Us Css------------------------------- */
.front,
.theme2 {
    background-color: #cc0000;
}

.theme2 {
    color: #fff;
}

.headBg {
    background-attachment: fixed;
    background-image: url(//catalog.wlimg.com/templates-images/12569/12573/pattern_n2.png);
    clear: both;
    color: #fff;
    display: block;
    overflow: hidden;
    padding: 0;
    position: relative;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.02) inset, 0 -5px 5px rgba(0, 0, 0, 0.02) inset;
}

section {
    display: block;
}


@media screen and (max-width:641px) {
    .wrap {
        width: auto;
        margin: 0 auto;
        padding: 0 15px;
    }

    .about-head .head {
        padding-left: 3%;
    }
}

@media(min-width: 641px) and (max-width: 980px) {

    /* @media (max-width: 980px) { */
    .wrap {
        width: auto;
        margin: 0 auto;
        padding: 0 6px;
    }

    .about-head .head {
        padding-left: 3%;
    }
}

/* } */

@media (max-width: 1150px) {
    .wrap {
        width: auto;
        margin: 0 auto;
        padding: 0 10px;
    }
}

.wrap {
    width: 1152px;
    margin: 0 auto;
}

.headBg.bread-right .page-title-inner {
    padding: 20px 0px;
}

.headBg.bread-right .page-title-inner,
.page-title-inner.bread-right {
    display: table;
    width: 100%;
}

.headBg .page-title-inner {
    padding: 20px 0px;
}

.page-title-inner,
.page-title-inner .breadcrumb,
.page-title-inner .breadcrumb a {
    color: #fff;
}

.fo:before,
.fo:after {
    content: "";
    display: table;
}

.del_inHdr .headBg.bread-right div.h1 {
    display: table-cell;
    width: initial;
}

.headBg.bread-right .h1,
.headBg.bread-right .breadcrumb,
.page-title-inner.bread-right .h1,
page-title-inner.bread-right .breadcrumb {
    vertical-align: middle;
    display: table-cell;
    text-align: left;
}

.del_inHdr div.h1 {
    display: table;
    width: 100%;
}

.headBg .h1,
.page-title-inner.head-inner .h1 {
    margin-bottom: 2px;
}

.h1,
.ip .h1 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 15px;
    line-height: 1em;
}

.del_inHdr .headBg.bread-right div.h1 h1 {
    display: block;
}

.del_inHdr div.h1 h1,
.del_inHdr div.h1 .page-rating {
    display: table-cell;
}

.headBg .breadcrumb,
.head-inner .breadcrumb {
    background: transparent;
    margin-bottom: 0px;
    padding: 2px;
    float: left;
}

.breadcrumb {
    background: rgba(0, 0, 0, 0.06);
    color: #333;
}

.breadcrumb {
    position: relative;
    text-align: left;
    padding: 5px 10px;
    text-shadow: none;
    margin-bottom: 15px;
}

.small {
    font-size: 0.9em;
}

.ar {
    text-align: right;
}

.page-title-inner .breadcrumb,
.page-title-inner .breadcrumb a {
    color: #fff;
}

.headBg.bread-right .breadcrumb {
    vertical-align: middle;
    display: table-cell;
    text-align: left;
}

.headBg.bread-right .breadcrumb {
    text-align: right;
    float: inherit;
}

.breadcrumb a,
.breadcrumb-view a {
    color: rgba(0, 0, 0, 0.4);
}

.breadcrumb a {
    text-shadow: none;
    text-decoration: none;
}

.uu a {
    /* text-decoration: underline; */
}

a {
    color: #333;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.ffv {
    font-family: Verdana, Geneva, sans-serif;
}

.p2px {
    padding: 2px;
}

b,
strong {
    font-weight: bold !important;
}